<div class="ui top fixed menu">
  <div class="header item">
    <img src="assets/img/logo.png" class="logo-header">
  </div>
  <div class="right menu">
    <div class="item">
      <div class="content">
        <div class="ui sub header">Username</div>
        <span class="text-13">Company Name</span>
      </div>
    </div>
    <div class="item">
      <img class="ui mini circular image" ng-src="assets/img/avatar.png">
    </div>
    <a class="item">
      <i class="sign-out icon"></i>
    </a>
  </div>
</div>
